.o_vcp_render {
    .o_vcp_render_table {
        .o_vcp_render_table_header {
            &.sortable {
                cursor: pointer;
            }
        }
    }
    .o_input {
        input {
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: white;
            background-clip: padding-box;
            border: var(--border-width) solid var(--border-color);
            border-radius: var(--border-radius);
            transition:
                background-color 0.05s ease-in-out,
                border-color 0.05s ease-in-out,
                box-shadow 0.05s ease-in-out;
        }
    }
}
